<h1>Cashier Billing</h1>

<table border="1">
<tr>
    <th>Order ID</th>
    <th>Table</th>
    <th>Total</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for order in orders %}
<tr>
    <td>{{ order.id }}</td>
    <td>Table {{ order.table.table_number }}</td>
    <td>₹ {{ order.total_amount }}</td>
    <td>{{ order.status }}</td>

    <td>
        <a href="/complete-payment/{{ order.id }}">
            Payment Done
        </a>
    </td>
</tr>
{% endfor %}

</table>

<br>
<a href="/cashier">Back</a>