<h1>Kitchen Orders</h1>

<table border="1">
<tr>
    <th>Order ID</th>
    <th>Table</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for order in orders %}
<tr>
    <td>{{ order.id }}</td>
    <td>Table {{ order.table.table_number }}</td>
    <td>{{ order.status }}</td>

    <td>

    {% if order.status == "Pending" %}
        <a href="/start-cooking/{{ order.id }}">Start Cooking</a>
    {% elif order.status == "Preparing" %}
        <a href="/order-ready/{{ order.id }}">Mark Ready</a>
    {% else %}
        Ready
    {% endif %}

    </td>
</tr>
{% endfor %}

</table>

<br>
<a href="/kitchen">Back</a>